/* 
---01 TYPOGRAPHY SYSTEM

-Font sizes (px)
10 /12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weight

-line height
Default: 1
Paragraph: 1.5


--- 02 COLORS

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
- Greys: 
-Text main: #777



--- 05 SHADOWS

--- 06 BORDER RADIUS
-Buttons:  

--- 07 WHITESPACE

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  padding: 3rem;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #777;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  /* !!!!!!!!!!!!!!!
  change the figure of el
  position: top-left, top-right, bottom-right, bottom-left
  FIND INSPIRATION ON CLIPPY */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.logo-box {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
}
.logo {
  height: 3.6rem;
}
.header-primary-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.primary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 5.2rem;
  margin-bottom: 5.4rem;

  /* fixing a small shake in animation */
  /* backface-visibility: hidden; */
}
.primary-main {
  display: block;
  font-size: 6.2rem;
  letter-spacing: 3.2rem;

  /* ANIMATION PROPERTIES */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* OTHER ANIMATION PROPERTIES
  animation-delay: 2s;
  animation-iteration-count: 3;    
  */
}
.primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;

  /* ANIMATION props we can use in a shorthend
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  */
  animation: moveInRight 1s ease-out;
}

/* ANIMATION */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 16px 30px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  border-radius: 100px;
}
.btn--white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--animated {
  /* ANIMATION shorthend*/
  animation: moveInBottom 1s ease-out 0.75s;
  /* animation-delay: 0.75s; */

  /* MAKE A STARTER POSITION LIKE A 0% IN ANIMATION, BEFORE ANIMATION STARTS */
  animation-fill-mode: backwards;
}
